.misionModal {
  position: relative;
  z-index: 12;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.misionCard {
  background-color: #6550E2;
  border-radius: 16px;
  padding: 28px;
  height: 50%;
  z-index: 8;
}
.misionCard>p {
  margin-top: 5%;
  text-align: center;
}


.misionTitle {
  display: flex;
  flex-direction: row;
}

.titleMision {
  width: 80%;
  text-align: left;
}

.iconMisionCard {
  width: 18%;
}

.iconMisionCard>img {
  width: 90%;
}
.iconMisionCard>p {
  text-align: center;
}

.btnSig {
  max-width: 200px;
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  cursor: pointer;
}

.btnSig>img {
  width: 100%;
  position: absolute;
}

.btnSig>p {
  width: 100%;
  position: absolute;
  z-index: 2;
  font-size: 1.2em;
  font-weight: bolder;
  margin-top: 8%;
  text-align: center;
}
@media (max-width: 821px) {
  .misionCard {
    width: 59%;
    height: 61%;
    padding: 12px;
  }
  .misionTitle>h1 {
    width: 75%;
    font-size: 1.8em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
  .btnSig {
    max-width: 120px;
    margin-top: 10%;
  }
  .btnSig>p {
    font-size: .8em;
    top: -4px
  }
  #misionTxt{
    font-size: .8em;
  }
}
@media (max-width: 569px) {
  .misionCard {
    width: 60%;
    height: 60%;
    padding: 12px;
  }
  .misionTitle>h1 {
    width: 75%;
    font-size: 1.4em;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
  }
  .btnSig {
    max-width: 100px;
    margin-top: 10%;
  }
  .btnSig>p {
    font-size: .6em;
    top: -2px
  }
  #misionTxt{
    font-size: .8em;
  }
}