<head>
    <link rel="stylesheet" href="shared/css/misiones.css">
</head>
<div class="misionCard">
    <div class="misionTitle">
        <h1 id='titleMision' class="titleMision">Encuentra el objeto perdido</h1>
        <div class="iconMisionCard">
            <img src="shared/img/ui/stats.svg" alt="mision">
            <p id='numMision'>Mision 1</p>
        </div>
    </div>
    <p id='misionTxt'>Tiene escamas pero no es un pez, tiene corona pero no es un rey.</p>
    <div class="btnSig">
        <img src="shared/img/ui/bg-btn-hor-y.svg" alt="siguiente">
        <p id='btnSig'>Siguiente</p>
    </div>
</div>
<script src="shared/js/misiones.js"></script>